/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";


/*
  Or add your statements here:
 */
:root {
  font-size: 120%;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  max-width: 35em;
  margin: 0 auto 10em;
  color: rgba(0, 0, 0, 0.87);
}

a {
  color: inherit;
  text-decoration: underline;
  position: relative;
  z-index: 1;
}

a:hover,
a:focus {
  text-decoration: underline;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin-top: 2em;
  margin-bottom: 0;
  line-height: 1.2;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

p {
  margin: 0.5em 0 2em;
}

article,
figure {
  position: relative;
}

figure {
  margin: 2em auto;
  overflow: hidden;
}

figure img {
  float: left;
  margin: 1em 2em 1em 0;
}

figcaption {
  font-size: 0.8em;
}

figcaption p {
  margin: 1em 0;
}

.byline {
  font-size: 0.8em;
  margin-top: -1em;
}

.block-link {
  position: static;
}

.block-link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
